<div class="view-container">
  <!--<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>-->
  <mat-card class="table-card mat-elevation-z9">
    <mat-card-header>
      <mat-card-title>Products</mat-card-title>
      <mat-card-subtitle>Product catalog</mat-card-subtitle>
      <img src="../../../../assets/printing-print-products-svgrepo-com.svg" mat-card-avatar class="avatar" />
      <span class="filler"></span>
      <a mat-mini-fab [routerLink]="['/product-create']" [title]="'Create new product'"><mat-icon>add</mat-icon></a>
    </mat-card-header>
    <mat-card-content>

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="pic">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <img src="{{getImage(element)}}" class="circle-image" style="width:40px" />
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="productName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.productName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Price</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getPrice(element)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="details">
          <mat-header-cell *matHeaderCellDef>View details</mat-header-cell>
          <mat-cell *matCellDef="let element"><a mat-stroked-button [routerLink]="['/product-info', element.productId]"><mat-icon>info</mat-icon> details</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Edit/Delete</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/product-edit', element.productId]"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
        <mat-row *matRowDef="let row;columns:columnList"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
