
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <p class="text-danger text-center">Sorry there is no campaign right now!</p>
</div>

