<div class="view-container">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-card class="table-card mat-elevation-z9">
    <mat-card-header>
      <div mat-card-avatar>
        <img mat-card-avatar class="icon" src="../../../../assets/icons/category1.svg" />
      </div>
      <mat-card-title>Categories</mat-card-title>
      <mat-card-subtitle>Product categories</mat-card-subtitle>
      <span class="filler"></span>
      <a mat-mini-fab matRipple  [routerLink]="['/category-create']" [title]="'Create new categories'"><mat-icon>add</mat-icon></a>
    </mat-card-header>
    <mat-card-content>

      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="categoryName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Category Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.categoryName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="subcategories">
          <mat-header-cell *matHeaderCellDef >Subcategories</mat-header-cell>
          <mat-cell *matCellDef="let element"><div [innerHTML]="getSubcategories(element)"></div></mat-cell>
        </ng-container>
        <<ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" [routerLink]="['/category-edit', element.categoryId]"><mat-icon>edit</mat-icon></button>
            <button matRipple mat-icon-button class="circle-link" color="warn" (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
        <mat-row *matRowDef="let row;columns:columnList"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
