.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 290px;
  height: 100vh;
}

.sidenav .mat-toolbar {
  background: inherit;
  color:white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.app-view{
    background-image: url(../../../../assets/Blur-CB-Edit-Background-Full-HD-6-scaled.jpg);
    background-position: -40% top;
}
.logo-image {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 8px 8px 8px 0;
  background-color: #f69090;
  /* border: 3px solid #eeeeee;*/
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
  transform: rotate(-22.5deg);
}

  .logo-image:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .row-2{
      display:flex;
      flex-direction:row;
      justify-content:flex-start;
  }
.bottom-link {
  position: fixed;
  bottom: 0;
  display:flex;
  width:100%;
}
.bottom-link a{
    width:280px;
    border-top:solid 1px lightgray;
}
