@model Order
    <div class="container">
        <div class="col-lg-10 mx-auto mt-5">
            <div class="card">
                <div class="card-header"><strong>#0000 @Model.OrderId</strong></div>
                <div class="card-body p-0 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th scope="col">Product Name</th>
                                <th scope="col">Price</th>

                                <th scope="col" width="14%">Qty</th>
                                <th scope="col">Sub Total</th>


                            </tr>
                        </thead>
                        <tbody>
                            @{
                                decimal total = 0;
                            }
                            @foreach (var c in Model.OrderDetails)
                            {

                                <tr>
                                    <td>@c.Product.ProductName</td>

                                    <td>    $@String.Format("{0:0.00}", c.ProductPrice)</td>
                                    <td>@c.Quantity</td>
                                    <td>
                                        @{
                                            var subtotal = c.ProductPrice * c.Quantity;
                                            total = total + subtotal;
                                        }

                                        $@String.Format("{0:0.00}", @subtotal)

                                    </td>

                                    @if (c.Order.OrderStatus.Equals(6))
                                    {
                                        <td><a class="btn btn-info rounded-0 btn-sm" asp-action="Index" asp-controller="Review" asp-route-Id="@c.ProductId">Review</a></td>

                                    }
                                </tr>

                            }

                            <tr>
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>
                                    <p>
                                        <strong>

                                            $@String.Format("{0:0.00}", total)
                                        </strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                <div class="card-body">
                                                <h4>Timeline</h4>
                                                <ul class="timeline">



                                                    <li class=@(
                                                                        Convert.ToInt32( Model.OrderStatus )==1 ||
                                                                         Convert.ToInt32( Model.OrderStatus )==2 ||
                                                                          Convert.ToInt32( Model.OrderStatus )==3 ||
                                                                           Convert.ToInt32( Model.OrderStatus )==4 ||
                                                                           Convert.ToInt32( Model.OrderStatus )==5 ||
                                                                        Convert.ToInt32( Model.OrderStatus )==6 ? "active" : ""
                                                        )>
                                                        <h6>PENDING</h6>
                                                        <p class="mb-0 text-muted">Your is pending now</p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>

                                                    <li class=@(

                                                                         Convert.ToInt32( Model.OrderStatus )==2 ||
                                                                          Convert.ToInt32( Model.OrderStatus )==3 ||
                                                                           Convert.ToInt32( Model.OrderStatus )==4 ||
                                                                           Convert.ToInt32( Model.OrderStatus )==5 ||
                                                                        Convert.ToInt32( Model.OrderStatus )==6 ? "active" : ""
                                                        )>
                                                        <h6>CONFIRMED</h6>
                                                        <p class="mb-0 text-muted">Your order has been confirmed </p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>

                                                    <li class=@(


                                                                          Convert.ToInt32( Model.OrderStatus )==3 ||
                                                                           Convert.ToInt32( Model.OrderStatus )==4 ||
                                                                           Convert.ToInt32( Model.OrderStatus )==5 ||
                                                                        Convert.ToInt32( Model.OrderStatus )==6 ? "active" : ""
                                                        )>
                                                        <h6>PAID</h6>
                                                        <p class="mb-0 text-muted">Your payment status paid</p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>

                                                    <li class=@(


                                                                           Convert.ToInt32( Model.OrderStatus )==4 ||
                                                                           Convert.ToInt32( Model.OrderStatus )==5 ||
                                                                        Convert.ToInt32( Model.OrderStatus )==6 ? "active" : ""
                                                        )>
                                                        <h6>PICKED</h6>
                                                        <p class="mb-0 text-muted">Your product has been picked</p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>
                                                    <li class=@(



                                                                           Convert.ToInt32( Model.OrderStatus )==5 ||
                                                                        Convert.ToInt32( Model.OrderStatus )==6 ? "active" : ""
                                                        )>
                                                        <h6>ON THE WAY</h6>
                                                        <p class="mb-0 text-muted">Your product on the way/</p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>
                                                    <li class=@(


                                                              
                                                                        Convert.ToInt32( Model.OrderStatus )==6 ? "active" : ""
                                                        )>
                                                        <h6>DELIVERED</h6>
                                                        <p class="mb-0 text-muted">Your product has been delivered.</p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>


                                                </ul>
                                            </div>
        </div>
    </div>