<div class="view-container">
    <mat-card class="medium-form-card-container mat-elevation-z9">
    <h2>Create new Brand</h2>
    <form #addFrm="ngForm" (ngSubmit)="create(addFrm)"  class="medium-form-container">
      <mat-form-field class="f-w" appearance="standard">
        <mat-label>Brand Name</mat-label>
        <input matInput type="text" name="brandName" id="brandName" [(ngModel)]="Brand.brandName" #brandName="ngModel" required />
        <mat-error *ngIf="brandName.touched && brandName.invalid">Brand Name is required</mat-error>
      </mat-form-field>
      
  
      <div style="display:flex; justify-content:flex-end">
        <button class="circle-link" type="reset" mat-raised-button color="accent">Reset</button>
        &nbsp;
        <button class="circle-link" type="submit" mat-raised-button color="primary">Submit</button>
      </div>
    </form>
    <a mat-flat-button [routerLink]="['/brands']" class="mt-1"><mat-icon>west</mat-icon> Back to Brands</a>
</mat-card>
  </div>
