@model IEnumerable<Product>

@if (Model != null )
{
    <h5>@Model.FirstOrDefault()?.Subcategory.SubcategoryName</h5>
    @foreach (var p in Model)
    {
        <div class="owl-carousel product-carousel  owl-theme owl-loaded mb-3 mt-2">
            <div class="owl-stage-outer">
                <div class="owl-stage product_img_item ">
                    <div class="owl-item border bx">

                        <a asp-action="ProductDetails" asp-controller="Product" asp-route-Id="@p.ProductId"><img src="~/assets/img/@p.ProductImages.First().ImageName" alt="" class="image"></a>
                        <div class="text-center p-2">
                            <h6>@p.ProductName</h6>

                            @if (p.ProductPrices.Count > 0)
                            {
                                <p><strong>$@String.Format("{0:0.00}", p.ProductPrices.FirstOrDefault().Price) </strong></p>
                            }

                        </div>
            

                    </div>
                   

                </div>
            </div>
        </div>



       
    }
}