@model ProductReviewVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card mt-5 mb-2">
            <div class="card-body">
                <h6>Update Review for-</h6>
                <table class="table table-borderless">
                    <tr>
                        <th width="20%"></th>
                        <th width="80%"></th>
                    </tr>
                    <tbody>
                        <tr>
                            <td><img src="~/assets/img/product.png" height="80" width="80" /></td>
                            <td class="align-middle"> Mobile</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card p-2 shadow-lg">
            <div class="card-body">
                <div class="login-form-container form-style">


                    <form method="post" asp-action="UpdateReview" asp-controller="Review">
                        <input type="hidden" asp-for="@Model.ReviewId" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group ck-form-style">
                            <label for="rating">Rating</label>

                            <select asp-for="Rating" id="rating" class="form-control" required>
                                <option selected="selected" value="">Rating</option>
                                <option value="1">1 Star</option>
                                <option value="2">2 Star</option>
                                <option value="3">3 Star</option>
                                <option value="4">4 Star</option>
                                <option value="5">5 Star</option>
                            </select>
                            <span asp-validation-for="Rating" class="text-danger" />
                        </div>
                        <div class="form-group ck-form-style">
                            <label for="Address">Your comment here</label>
                            <textarea asp-for="Comment" class="rounded-0 form-control"></textarea>
                        </div>



                        <button type="submit" class="btn btn-default btn-dark btn-block  text-white  d-block" id="">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
