.price-row {
    display:grid;
    width:100%;
    grid-template-columns: auto auto 50px;
    gap:8px;
    align-items:center;
    justify-items:self-end;
    
    
}
.price-row-1 {
  display: grid;
  grid-template-columns: 20% auto 80px;
  gap: 8px;
  align-items: center;
  justify-items: self-end;
}
