@model SmartShop.Web.ViewModels.Identity.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="login-form mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card p-2 shadow-lg">
                    <div class="card-body">
                        <div class="login-form-container form-style">
                            <h3 class="text-center">Sign In</h3>
                            <form method="post" asp-action="Login" asp-controller="Customer">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group ck-form-style">
                                    <label asp-for="Username">User Name</label>
                                    <input asp-for="Username" class="rounded-0 form-control" placeholder="Enter user name" id="email" required>
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group ck-form-style">
                                    <label asp-for="Password">Password</label>
                                    <input asp-for="Password" class="rounded-0 form-control " placeholder="Enter password" id="pwd" required>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-default btn-dark btn-block  text-white  d-block" id="">Submit</button>
                            </form>
                            <div class="forgotpass text-center">
                                <p class="">Don't you have an account? <a href="register.html">Sign up </a></p>
                                <p class=""><a href="#"> Forgot Password?</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

